.width-10 {
  min-width: 10rem;
}

.vote-up,
.vote-down {
  width: 2rem;
}

.hidden {
  display: none;
}

.devise-form {
  max-width: 500px;
  width: 100%;
  margin: 5rem auto;
  box-sizing: border-box;
}
